# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
backend/logs/
backend/media/
backend/staticfiles/

# Virtual env
venv/
.venv/
backend/venv/
backend/.venv/

# Frontend
frontend/node_modules/
frontend/dist/
dashboard-frontend/node_modules/
dashboard-frontend/dist/

# Env
.env
.env.local
.env.*.local
backend/.env
backend/.env.local
backend/.env.*.local
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.*.local

# Logs
*.log
*.err

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
