# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
backend/logs/
backend/media/
backend/staticfiles/

# Virtual env
venv/
.venv/
backend/venv/
backend/.venv/

# Frontend
frontend/node_modules/
frontend/dist/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
*.err

# IDE
.vscode/
.idea/